openapi: 3.0.3
info:
  title: Social Media API - Cloudflare API Shield Demo
  description: |
    Enterprise-grade social media REST API demonstrating comprehensive Cloudflare API Shield security features.
    
    ## Features
    - JWT authentication with RS256 and custom claims
    - 3-tier system (free, premium, enterprise)
    - 15 REST endpoints with full CRUD operations
    - Query string filtering and sorting
    - Tier-based access control
    - Social media features (posts, likes, comments, follows, shares)
    
    ## Authentication
    Most endpoints require JWT authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer YOUR_JWT_TOKEN
    ```
    
    ## Tier System
    - **Free**: Basic features (posts, likes, comments)
    - **Premium**: Advanced features (sharing posts)
    - **Enterprise**: Full access with priority support
  version: 2.0.0
  contact:
    name: API Support
    url: https://api-shield.namer01.cfpartnerskyflash.com
  license:
    name: MIT

servers:
  - url: https://api-shield.namer01.cfpartnerskyflash.com
    description: Production server
  - url: http://localhost:8787
    description: Local development

tags:
  - name: Authentication
    description: User registration and login endpoints
  - name: Posts
    description: Create, read, update, and delete posts
  - name: Social Interactions
    description: Like, comment, and share posts
  - name: Users
    description: User profiles and relationships
  - name: Public
    description: Public endpoints (no authentication required)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from login or registration

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john@example.com
        username:
          type: string
          nullable: true
          example: johndoe
        bio:
          type: string
          nullable: true
          example: Software developer and tech enthusiast
        avatar_url:
          type: string
          nullable: true
          example: https://example.com/avatar.jpg
        tier:
          type: string
          enum: [free, premium, enterprise]
          example: premium
        role:
          type: string
          enum: [user, admin]
          example: user
        created_at:
          type: string
          format: date-time
          example: 2025-11-06T10:00:00Z

    Post:
      type: object
      properties:
        id:
          type: integer
          example: 42
        user_id:
          type: integer
          example: 1
        content:
          type: string
          example: Just deployed my first Cloudflare Worker!
        visibility:
          type: string
          enum: [public, private, followers_only]
          example: public
        likes_count:
          type: integer
          example: 15
        comments_count:
          type: integer
          example: 3
        shares_count:
          type: integer
          example: 2
        created_at:
          type: string
          format: date-time
          example: 2025-11-06T10:00:00Z
        updated_at:
          type: string
          format: date-time
          example: 2025-11-06T10:30:00Z

    Comment:
      type: object
      properties:
        id:
          type: integer
          example: 10
        post_id:
          type: integer
          example: 42
        user_id:
          type: integer
          example: 2
        content:
          type: string
          example: Great post! Very helpful.
        parent_comment_id:
          type: integer
          nullable: true
          example: null
        created_at:
          type: string
          format: date-time
          example: 2025-11-06T10:15:00Z

    Like:
      type: object
      properties:
        id:
          type: integer
          example: 5
        post_id:
          type: integer
          example: 42
        user_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
          example: 2025-11-06T10:05:00Z

    Follow:
      type: object
      properties:
        id:
          type: integer
          example: 8
        follower_id:
          type: integer
          example: 1
        following_id:
          type: integer
          example: 2
        created_at:
          type: string
          format: date-time
          example: 2025-11-06T10:00:00Z

    Error:
      type: object
      properties:
        error:
          type: string
          example: Invalid credentials
        details:
          type: string
          example: Email or password is incorrect

    Success:
      type: object
      properties:
        message:
          type: string
          example: Operation completed successfully

paths:

  /api/auth/register:
    post:
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required: [name, email, password]
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: User registered
        '400':
          description: Missing fields or weak password
        '409':
          description: Email already registered

  /api/login:
    post:
      summary: Login a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required: [email, password]
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
        '401':
          description: Invalid credentials

  /api/unregister:
    post:
      summary: Delete user account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required: [email, password]
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: User unregistered
        '403':
          description: Forbidden
        '401':
          description: Invalid credentials

  /api/posts:
    post:
      summary: Create a post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required: [title]
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                is_private:
                  type: boolean
      responses:
        '201':
          description: Post created

    get:
      summary: Get posts of authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'

  /api/posts/{id}:
    get:
      summary: Get a post by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found

    put:
      summary: Update a post
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                is_private:
                  type: boolean
      responses:
        '200':
          description: Post updated
        '403':
          description: Unauthorized

    delete:
      summary: Delete a post
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post deleted
        '403':
          description: Unauthorized

  /api/posts/user:
    get:
      summary: Get posts by email or user ID
      parameters:
        - in: query
          name: email
          schema:
            type: string
        - in: query
          name: id
          schema:
            type: integer
      responses:
        '200':
          description: List of user posts
        '404':
          description: User not found

  /.well-known/jwks.json:
    get:
      summary: Serve JWKS for API Shield
      responses:
        '200':
          description: JWKS public key(s)
